* {
    margin: 0;
    padding: 0;
}

/* lettertype */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.cdnfonts.com/css/gt-super-ds-trial'); */

@font-face {
    font-family: h1font;
    src: url('https://fonts.cdnfonts.com/css/gt-super-ds-trial');
}

/* variabelen */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gt-super-ds-trial');

:root {
    --primaryBlack: #1E1E1E;
    --primaryWhite: #F9F7F7;
    --accentColor: #1700A5;
    --h1-size: 14.00vw;
    --h2-size: 3em;
    --p-size: 1.4em;
    --bodyTextSize: 1em;
    --bodyTextFont: "Montserrat", sans-serif;
    --hFont: 'GT Super Ds Trial', sans-serif;
    --hFontItalic: 'GT Super Ds Trial', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* nav */


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primaryBlack);
    padding: 0 4em;
    height: 5em;
    width: 100%;;
    box-shadow: 0 0 1em .1em #111;
    z-index: 1;
  }
  
  .create-request .navbar{
      background-color: transparent;
      box-shadow: none;
  }
  
  .navbar div {
    display: flex;
    align-items: center;
  }
  
  .navbar a {
    color: var(--primaryWhite);
    text-decoration: none;
  }
  
  .navLeft {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 2em;
  }
  
  .navLeft a {
    font-family: var(--bodyTextFont);
    font-size: 1em;
  }
  
  .navLeft a.active {
    position: relative;
    margin-right: 2.2em;
  }
  
  .navLeft a.active::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: var(--primaryWhite);
  }
  
  .navCenter {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  .navCenter a {
    font-size: 2.4em;
    font-family: none;
  }
  
  .navRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navRight a {
    margin-left: 1.8em;
    font-family: var(--bodyTextFont);
  }
  
  .heart img {
    width: 20px;
    display: flex;
    align-items: center;
  }
  
  .lightning img {
    height: 20px;
    width: 12px;
    display: flex;
    align-items: center;
  }
  
  .profile {
    display: flex;
    align-items: center;
    font-family: var(--bodyTextFont);
    font-size: 1em;
    color: var(--primaryWhite);
  }
  
  .profile img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .6em;
  }
  
  .hoverAnimationNav{
      display: inline-block;
      position: relative;
    }
    
  .hoverAnimationNav::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 0.05em;
      bottom: -0.3em;
      left: 0;
      background-color: var(--primaryWhite);
      transform-origin: bottom right;
      transition: transform 0.20s ease-in-out;
    }
    
    .hoverAnimationNav:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
  
  
  @keyframes sparkle {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
  }
  
  .sparkleAnimation {
    position: absolute;
    pointer-events: none;
    animation: sparkle .6s forwards;
    will-change: opacity, transform;
    z-index: 1;
  }
  
  .gridContainer {
    columns: 12em;
    column-gap: 1em;
    padding: 2em 4em;
    background-color: var(--primaryBlack);
  }
  
  .gridDiscover {
    margin-top: 6em;
  }
  
  .figureContainer {
    position: relative;
    display: inline-block;
  }
  
  .figureContainer img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
  
  @keyframes heart {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .heartAnimation {
    animation: heart .4s ease-out;
  }
  
  .heartButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: url('../img/heart.png') no-repeat center;
    background-size: cover;
    width: 20px;
    height: 18px;
    display: none;
    cursor: pointer;
  }
  
  .heartButton:hover {
    filter: opacity(0.8);
  }
  
  .figureContainer:hover .heartButton {
    display: block;
  }
  
  .figureContainer:hover img {
    filter: brightness(0.6);
  }







/* algemeen  */

body.portfolioPagina {
    background-color: var(--primaryBlack);
    color: var(--primaryWhite);
    /* padding-inline: 1.5em; */
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    max-width: 100vw;


}

.portfolioPagina h1 {
    font-size: 8em;
    font-family: var(--hFont);
    font-weight: 300;
    margin-block: 0.4em;
    margin-top: 1.5em;
    /* margin-left: 2em; */
    /* color: blue; */

}

.portfolioPagina h2 {
    font-size: var(--h2-size);
    font-family: var(--hFont);
    font-weight: 300;
    /* margin-left: 2em; */
}

.portfolioPagina h3 {
    /* margin-left: 2em; */
    margin: 1em;
    padding: 0em;
    font-size: var(--bodyTextSize);
    font-family: var(--bodyTextFont);

}


.portfolioPagina p {
    /* margin-left: 2em; */
    font-family: var(--bodyTextFont);

}

.portfolioPagina hr {
    width: 90vw;

}

.portfolioPagina article,
.jobs>section:nth-of-type(1) {
    margin-inline: 2em;
    width: 100vw;
}

.portfolioPagina>article:nth-of-type(1) h2 {

    padding-bottom: 1em;
}

.portfolioPagina figure {

    margin: 0em;
    padding: 0em;
    position: relative;
    object-fit: cover;
}





/* // buttons  */


/* animatie button voor jobs en work pagina  */
.buttonsToggle {
    display: flex;
    margin-top: 2em;
    justify-content: center;
    justify-items: center;
    height: 2em;
    padding-inline: 0em;
    margin: 2.4em;
}

.buttonsToggle section {
    position: relative;
    background-color: var(--primaryWhite);
    border-radius: 1em;
    display: flex;
    align-content: center;
    margin-inline: 0;
    padding-inline: 0.8em;
}

.buttonsToggle button {
    cursor: pointer;
    border: none;
    background: transparent;
    width: 5.5em;
    color: #1E1E1E;
    z-index: 1;
}

#animationButton {
    position: absolute;
    left: 0em;
    top: 0em;
    background-color: #bcb1fdc8;
    width: 5.8em;
    height: 2em;
    border-radius: 1em;
    transition: 1s;
}


.animationSlide {
    display: flex;
    width: 200vw;
    transition: 1s;
    /* width: 200%; */
    max-width: 100vw;
    overflow-x: scroll;
    transition: scroll-left 0.5s ease;
    justify-items: center;
    
   
    /* width: 200%; */
    /* overflow-x: auto; 
 white-space: nowrap;  */
}


.jobs,
.work {
    width: 100vw;
    max-width: 100%;
    min-width: 100vw;

}


/* button voor form van jobs  */

/* .jobs #matchForm { */
/* position: fixed; */


/* margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50%;
    transform: translateY(-50%); */
/* width: 100vw;
    height: 100vh; */

/* background-color: rgba(0, 0, 0, 0.5); Halfdoorzichtige achtergrond */


/* padding-left:4em ; */





/* MATCH FORMULIER */
.jobs {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    /* display: flex;
    flex-direction: row;
    justify-items: center; */
    /* contain:layout; */

  
}

.jobs>input {
    margin-left: 50%;
    transform: translateX(-50%);

}

/* .jobs>input,
.jobs>section:nth-of-type(2)>input {
    color: rgb(0, 0, 0);
    font-weight: 200;
    text-decoration: none;
    border-radius: 0.8em;
    text-align: center;
    z-index: 2;
    padding: 0.5em 2.5em;
    border: 0.5px solid var(--primaryWhite);
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
    color: var(--primarywhite);
    position: relative;
    justify-self: center;
    margin-top: 3em; } */

 /* */


/* .jobs>input:hover,
.jobs>section:nth-of-type(2)>input:hover {
  

    box-shadow: 0 0 0.5em 0.1em #bcb1fdc8;

} */

/* .jobs>input:focus,
.jobs>section:nth-of-type(2)>input:focus {
    background-color: var(--primaryWhite);
    color: #1E1E1E;
} */
.jobs>button,
.jobs>section:nth-of-type(2)>button>p {
    z-index: 100;
    color: white;
    
    
}

.jobs>button,
.jobs>section:nth-of-type(2)>button {
    text-align: center;
  padding: 0.5em 2.5em;
    border-radius: 0.8em;
cursor: pointer;
border: 2px solid #bcb1fdc8;
background: linear-gradient(45deg, #fff 50%, #bcb1fdc8 50%);
/* -webkit is dat je iets nieuws gaat proberen wat nog niet op elke browser een werkende code is -webkit hoeft niet niet meer overal
background clip betekent letterlijk wat je invult je hebt verschillende vormen en het gaat erom hoeveel je invuld bijv alleen de tekst of de padding box */
background-clip: text;
-webkit-text-fill-color: transparent;
position: relative;
text-decoration: none;
margin-top: 3em;
-webkit-appearance: none;
appearance: none;
z-index: 1;



}

.jobs>button:after,
.jobs>section:nth-of-type(2)>button:after {
content: "";
position: absolute;
top: 0;
/* bottom: 0; */
left: 0;
/* right: 0; */
/* inset:0; */
width:100%;
height:100%;
justify-self: center;
/* deze regel hieronder wordt niet uitgevoerd, ik weet niet waarom */
background: linear-gradient(45deg, #bcb1fdc8 50%, transparent 50%);
background-position: right;
/* background-color:red; */
z-index: 0;
border-radius: inherit;

}

.jobs>button,
.jobs>section:nth-of-type(2)>button, 
.jobs>button:after,
.jobs>section:nth-of-type(2)>button:after {
background-size: 300%;
background-position: 100%;
transition: 1s ease-out, font-size 0.2s;
}

.jobs>button:hover,
.jobs>section:nth-of-type(2)>button:hover,
.jobs>button:hover:after,
.jobs>section:nth-of-type(2)>button:hover:after {
background-position: 0;
font-size: 1em;
box-shadow: 0 0 0.5em 0.1em #bcb1fdc8;
}

.jobs>section:nth-of-type(2)>section:nth-of-type(1) input[type="radio"]:checked+label {
    transition: 0.5s;
    box-shadow: 0 0 0.5em 0.1em #BCB1FD;
    border: 1px #BCB1FD solid;

}

.option2ForMatchButton[type="radio"]:checked+label  {
    transition: 0.5s;
    box-shadow: 0 0 0.5em 0.1em #220aaa;
    border: 1px #BCB1FD solid;
    /* color: blue; */

}
/* deze sectie is de section waar alles in staat van het match formulier */
.jobs>section:nth-of-type(2) {
    padding-inline: 4em;
    background-color: #363636;
    border-radius: 1em;
    padding-bottom: 4em;
    width: 60vw;
    height: auto;
    z-index: 999;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    transition: all 300ms ease;
    padding-top: 1em;
    overflow: hidden;

   
}

.inactiveAnimationForm {
   scale: 0;
}

.activeAnimationForm {

    scale: 1;

}



.jobs>section:nth-of-type(2)>#matchOption1 {
    /* display: flex; */
    justify-content: center;
    padding: 1em;
}


 .hiddenMatch0ption2{
    display: none;

}

.unhiddenMatchOption2 {
    display: block;

    justify-content: center;
    /* margin: 1em; */

}
#closeMatchFormButton {
    position: absolute;
font-family: var(--bodyTextFont);
font-size: var(--bodyTextSize);
border: none;
background-color: #363636;
right: 2rem;
bottom: 1rem;
color: var(--primaryWhite);
text-decoration: underline 1px;
padding-bottom: 1em;
/* color: var(--primaryWhite); */

}


.matchOption2-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.animateShadow {
    animation: pulse 3s infinite ease-in-out;

}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0.5em 0.1em #c0bdd0;
    }

    50% {
        box-shadow: 0 0 1em 0.2em #838289;
    }

    100% {
        box-shadow: 0 0 0.5em 0.1em #6c6a76;
    }
}
.popUpBlur {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
display: none;
transition: opacity 100ms ease-in-out 200ms;
}


 .activeForbackgroundBlurBtn{
display: block;

}

/* work pagina algemeen */

.work {
    visibility: visible;
    /* overscroll-x: none; */
}

.work h2 {
    margin-inline: 0.8em;
}

.work figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* eerste section  */

.work>section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    margin: 1.51em
}

.work section:nth-of-type(1) figure img {
    max-width: 85vw;
    max-height: 100vh;
    padding-block: 1em;
    transition: ease-in-out 0.3s;
    transition-delay: 1s;
    opacity: 1;
    max-width: 100%;
    width: 100%;


}

/* twee section */

/* algemene grid */

.work section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(20, 0.15fr);

}

.work section:nth-of-type(2) figure img {

    max-width: 100%;
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.3s;


}

section figure .hide {
    position: absolute;
    z-index: 3;
    opacity: 0;
    transform: translateY(0.9em);
    transition: 0.3s ease-in-out;
    bottom: 2em;
    right: 2em;
    margin: 0;

}

section figure .hide h2 {
    font-family: var(--hFont);
    font-size: 0.7em;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-65%);
    white-space: nowrap;
}

section figure .hide button {
    width: 1em;
    height: 1em;
    border-radius: 2em;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
}

/* grid indeling */

.work section:nth-of-type(2) figure:nth-of-type(1) {
    grid-area: 1 / 1 / 5 / 7;
 
    object-fit: cover;
}

.work section:nth-of-type(2) figure:nth-of-type(2) {
    grid-area: 6 / 5 / 10 / 14;
   
}

.work section:nth-of-type(2) figure:nth-of-type(3) {
    grid-area: 8 / 1 / 12 / 4;
   
}

.work section:nth-of-type(2) figure:nth-of-type(4) {
    grid-area: 11 / 6 / 14 / 10;
    /* max-width: 25vw;
    width: 25vw; */
}

.work section:nth-of-type(2) figure:nth-of-type(5) {
    grid-area: 13 / 1 / 17 / 5;
}

.work section:nth-of-type(2) figure:nth-of-type(6) {
    grid-area: 16 / 6 / 21 / 10;
}

/* hovers voor Work */

.work figure img:hover,
.unhide:hover {
    opacity: 0.5;
    transition-delay: 1s;
}

figure:hover .hide {
    opacity: 1;
    transform: translateY(0);
    /* transition-delay: 1s; */
}

/* pagina gedeelte van JOBS */

/* algemeen voor jobs pagina */

.jobs {
    background-color: var(--primaryBlack);

}

/* 
hover met tekst buttons  */


.work section>figure>section:nth-of-type(2) p {
    font-family: var(--bodyTextFont);
    font-size: 0.6em;
    position: absolute;

}

.work section>figure>section:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: none;
}





/*  media query's voor de portfolio .portfolioPagina */
/* only screen betekent dat het alleen geld voor scherm gebruik, en niet als je het uitprint of screenreaders/braille */


/* Small devices (tablets, 600px en groter) */
@media only screen and (min-width: 600px) {
    .work>section:nth-of-type(1) {
        display: flex;
        flex-direction: row;
        /* margin: 1.51em */
    }

    .work section:nth-of-type(1) figure img {

        max-width: 100%;
        width: 100%;
        min-width: 100%;
    }

    .work section:nth-of-type(1) figure {
        max-width: 50%;
        width: 50%;
        margin: 1em;
    }
    .jobs>section:nth-of-type(2)>#matchOption1 {
        display: flex;
 
    }
    .hiddenMatch0ption2{
        display: none;
    }
    
    .unhiddenMatchOption2 {
        display: flex;
    
        justify-content: center;
        margin: 1em;
    
    }

}

/* Medium devices (laptops/desktops, 992px en groter) */
@media only screen and (min-width: 992px) {
    .work>section:nth-of-type(1) {
        display: flex;
        flex-direction: row;
        margin: 1.51em;
        /* width: 100vw; */
        justify-content: center;
    }


    .work section:nth-of-type(1) figure {
        /* max-width: 50%;
        width: 50%; */

        max-width: 40vw;
        width: 40vw;

        margin: 1em;

    }

    .work section:nth-of-type(1) figure img {


        /* max-width: 300px; */

        width: 80%;

    }

}

/* Large devices (grote desktops, 1200px en groter) */
@media only screen and (min-width: 1200px) {}

