@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gt-super-ds-trial');

:root {
    --primaryBlack: #1E1E1E;
    --primaryWhite: #F9F7F7;
    --accentColor: #1700A5;
    --h1-size: 14.00vw;
    --h2-size: 3em;
    --p-size: 1.4em;
    --bodyTextSize: 1em;
    --bodyTextFont: "Montserrat", sans-serif;
    --hFont: 'GT Super Ds Trial', sans-serif;
    --hFontItalic: 'GT Super Ds Trial', sans-serif;
}




body{
    margin: 0;
    padding: 0;
    background-color: #1700A5;
}

.desktopOriginalNav{
    width: 100vw;
    height: 130px;

    /* padding: 20px 50px 20px 50px; */
    /* background-color: var(--primaryBlack); */

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    position: fixed;
}

.desktopOriginalNav > div{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    /* transform: translateX(150%); */
    /* background-color: yellow; */
}

.desktopOriginalNav > div:nth-last-of-type(2){
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
}

.desktopOriginalNav > div:first-of-type > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 
}

.desktopOriginalNav > div:first-of-type > div > p{
    padding: 1.5rem;
}

p{
    font-size: var(--p-size);
    font-family: var(--bodyTextFont);
    color: var(--primaryWhite);
    width: fit-content;
}

.logo_span{
    font-size: var(--h2-size);
    color: var(--primaryWhite);
    font-family: "GT Super Ds Trial", sans-serif;
    letter-spacing: .1rem;

    mix-blend-mode: difference;
}


#underline_nav{
    position: absolute;
    margin-left: 1.45em;
    margin-top: 5em;
    width: 6em;
    opacity: 0;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* visibility: hidden; */
}

.desktopOriginalNav > div:nth-of-type(3){
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
}

.desktopOriginalNav > div:nth-of-type(3) img{
    padding: 1em;
}

.desktopOriginalNav > div:nth-of-type(3) > img:first-of-type{
    width: 30px;
    height: 28px;
}
.desktopOriginalNav > div:nth-of-type(3) > img:nth-of-type(2){
    width: 22px;
    height: 38px;
}

.desktopOriginalNav > div:nth-of-type(3) > div{
    display: flex;
    flex-direction: row;
    max-width: 20vw;
    align-items: center;
}

.desktopOriginalNav > div:nth-of-type(3) > div > img:first-of-type{
    padding-right: 10px;
}

.desktopOriginalNav > div:nth-of-type(3) > div > div{
    display: flex;
    flex-direction: column;
    
}

.desktopOriginalNav > div:nth-of-type(3) > div > div > p:nth-of-type(2){
    font-size: 10px;
    margin: 0;
}

.desktopOriginalNav > div:nth-of-type(3) > div > div > p:nth-of-type(1){
    margin: 0;
    font-size: 14px;
}

.desktopOriginalNav > div:nth-of-type(3) > div > div{
    margin: 0;
    font-size: 14px;
    visibility: visible;
    padding-right: 1rem;
}


.sparkle {
    position: absolute;
    width: 20px;
    height: 20px;
    /* border-radius: 50%; */
/* background-color: rgba(255, 170, 59, 0.826);  */
    background-image: url(https://static.thenounproject.com/png/4613402-200.png);
    background-size: cover;
    pointer-events: none;
    z-index: 9999;
    animation: sparkleAnim 1s linear infinite;
}

@keyframes sparkleAnim {
    0% { transform: scale(0); opacity: 1; }
    100% { transform: scale(1); opacity: 0; }
}


 /* .lowerNav{
    visibility: visible;
    position: fixed;
    bottom: 0; */
    /* background-color: yellow; */

    /* width: 100vw;
    height: 120px; */

    /* padding: 20px 50px 20px 50px; */
    /* background-color: var(--primaryBlack); */

    /* display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}  */

/* .lowerNav > div {
    width: 60vw;
    height: 100%;
    max-height: 80px;

    display: flex;
    justify-content: space-evenly;

} */


@media (width <= 850px) {
    /* .lowerNav{
        display: none;

    } */

    .desktopOriginalNav > div:nth-last-of-type(2){
        position: absolute;
        opacity: 0;
        transform: translateX(50px);
        transition: all 3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .desktopOriginalNav > div{
        
        margin-left: 0rem;
        position: fixed;
        margin-left: 50%;
        transform: translateX(-50%);
        /* background-color: yellow; */
        transition: all 3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    

    .desktopOriginalNav > div:nth-of-type(3){
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        margin-right: 1rem;
        position: fixed;
        bottom: 0;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 60vw;
    }
    
    .desktopOriginalNav > div:nth-of-type(3) img{
        padding: 1em;
    }
    
    .desktopOriginalNav > div:nth-of-type(3) > img:first-of-type{
        width: 30px;
        height: 28px;
    }
    .desktopOriginalNav > div:nth-of-type(3) > img:nth-of-type(2){
        width: 22px;
        height: 38px;
    }

    .desktopOriginalNav > div:nth-of-type(3) > div > div{
        visibility: hidden;
    }
  }






  @media (width >= 1400px) {
    /* hier komt het deel van het profiel naampje */
  }



/* 
snippetes van internet */


/* hover underline op single P */

/* .hover-underline-animation {
    display: flex;
    color: #0087ca;
    position: relative;
  }

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  } */