
* {
    margin: 0;
    padding: 0;
}

/* lettertype */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gt-super-ds-trial');

@font-face {
    font-family: h1font;
    src: url('https://fonts.cdnfonts.com/css/gt-super-ds-trial');
}

/* variabelen */

:root{
    --primaryblack:#1E1E1E;
    --primarywhite: #F9F7F7;
    --h1-size: 15.00vw;
    --h2-size: 2.5em;
    --p-size: 1.125em;
    --bodyTextSize: 1em;
    --bodyTextFont: "Montserrat", sans-serif;
    --hFont: 'GT Super Txt Trial', sans-serif;
    --hFontItalic: 'GT Super Txt Trial', sans-serif;
}



/* ALGEMEEN */

.registreren, .inloggen{
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url(img/chris-bair-bOK5eWMDIWk-unsplash.jpg);
    background-size: cover;
    font-family: var(--bodyTextFont);
}




/* ACHTERGROND */

div:first-of-type{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: rgb(29, 29, 29, 0.75);
}

.inloggen article{
    width: 30em;
    height: 35em;
    background-color: rgb(29, 29, 29, 0.2);
    color: #FFFFFF;
    border-radius: 1em;
    z-index: 5;
    justify-content: center;
    display: grid;
    margin-top: 4em;
}

.inloggen article section {
    width: 20em;
}


/* EERSTE SECTION */

.inloggen article section:first-of-type h2 {
 font-size: small;
 font-weight: 100;
 opacity: 0.7;
 
}

.inloggen article section:first-of-type h1 {
    margin: 0.2em 0em 0.2em 0em;
    font-size: 2.5em;
}

.inloggen article section:first-of-type p {
    color: #A3A3A3;
    font-weight: 200;
    opacity: 1;
}

.inloggen article section:first-of-type{
    margin-top: 4em;
    height: 1em;
}

.inloggen article section:first-of-type a, .registreren a{
    color: #8774FF;
    text-decoration: none;
}

.inloggen article section:first-of-type a:hover, .registreren a:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* -------FORMULIER-------*/

.inloggen form{
 display: grid;
}

.inloggen input[type=password], input[type=email], .registreren input[type=password], .registreren input[type=text]{
 background-color: var(--primaryblack);
 height: 2.5em;
 border: none;
 margin-bottom: 2em;
 border-radius: 0.3em;
 padding-inline: 1em;
 color: var(--primarywhite);
}

.inloggen input[type=password]{
    padding-top: 0.5em;
}

.inloggen input[type=email]{
    padding-block: 0.25em;
}




/* icoontjes in de input labels */





/* label */
.inloggen label, .registreren label{
    font-size: 0.9em;
    color: #D2D2D2;
    margin-bottom: 0.4em;

}

.inloggen input[type=password]::placeholder, .inloggen input[type=email]::placeholder, .registreren input::placeholder{
    color: #504F4F;
}

/* submit knop van het formulier */

.inloggen input[type=submit], .registreren input[type=submit]{
    background-color: var(--primarywhite);
    height: 3.8em;
    border-radius: 0.8em;
    border: none;
    font-weight: 600;
    color: var(--primaryblack);
    letter-spacing: 0.15em;
}


/* focus state van de input velden */

.inloggen input:focus, .registreren input:focus{
    outline: none;
}

/* muis animatie op hover */



/* ___________________________ */
/* -------REGISTREREN--------- */
/* ___________________________ */

.registreren article{
    background-color: rgb(29, 29, 29, 0.2);
    width: 52vw;
    height: 65vh;
    justify-content: center;
    display: grid;
    color: var(--primarywhite);
    border-radius: 1em;
}



/* FORMULIER */

.registreren form{
    width: 37.5vw;
    margin-top: 2em;
}
 
.registreren input[type=email]{
    width: 60%;
}

.registreren input[type=password]{
    padding-top: 0.35em;
}

/* eerste kopje met tekst */

.registreren article section:first-of-type h1{
    margin: 2em 0em 0.1em 0em;
    font-size: 2.3em;
    font-weight: 00;

}
.registreren article section:first-of-type p{
    color: #A3A3A3;
    font-weight: 100;
    margin-bottom: -5em;
}


/* formulieren positioneren met grid */

.registreren fieldset{
    border: none;
    display: grid;
    grid-column-gap: 2em;
    padding: 0em;
    position: relative;
}

.registreren fieldset:nth-of-type(1){
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

.registreren fieldset:nth-of-type(3){
    grid-template-columns: 1fr 1fr;
}

/* submit knop */

.registreren input[type=submit]{
    width: 50%;
    height: 3.5em;
    justify-self: center;
    margin-top: 1.5em;
}


/* icons positioneren in de inputlabels */

.registreren fieldset:nth-of-type(3) img:nth-of-type(2){
    position: absolute;
    top: -0.5em;
    right: 0;
    opacity: 0.3;
    scale: 0.175;
}

.registreren fieldset:nth-of-type(3) img:nth-of-type(1){
    position: absolute;
    top: -0.5em;
    left: 13em;
    opacity: 0.3;
    scale: 0.175;
}





