<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulier</title>
    <link rel="stylesheet" href="../static/stylesheets/styles.css">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
</head>

<body class="createrequest">
    <main>
        <nav>

        </nav>
        <div class="slidebar">
    
        <!-- <button type="button" class="filter-btn" id="all">All</button>
        <button type="button" class="filter-btn" id="logo-design">Logo Design</button>
        <button type="button" class="filter-btn" id="illustration">Illustration</button>
        <button type="button" class="filter-btn" id="web-development">Web Development</button>
        <button type="button" class="filter-btn" id="graphic-design">Graphic Design</button>
        <button type="button" class="filter-btn" id="web-development">Game Art</button>
        <button type="button" class="filter-btn" id="web-development">Product & Design</button>
        <button type="button" class="filter-btn" id="web-development">App Design</button>
        <button type="button" class="filter-btn" id="web-development">Marketing</button>
        <button type="button" class="filter-btn" id="web-development">Website app</button>
        <button type="button" class="filter-btn" id="web-development">Product Design</button>
        <button type="button" class="filter-btn" id="web-development">Brand Style</button>
        <button type="button" class="filter-btn" id="web-development">UX Design</button>
        <button type="button" class="filter-btn" id="web-development">CSS</button>
        <button type="button" class="filter-btn" id="web-development">Video Editing</button>
        <button type="button" class="filter-btn" id="web-development">Data Entry</button>
        <button type="button" class="filter-btn" id="web-development">Background Removal</button>
        <button type="button" class="filter-btn" id="web-development">Adobe Apps</button>
        <button type="button" class="filter-btn" id="web-development">Figma</button>
        </section>   -->


        <!-- <section>
            <h1>Provide some context for description
                of your request</h1>
                <form>
                <input type="text" name="textinput" placeholder="hello" id="">
                <button type="submit">Send</button>
                <a href="">Lisa Mandemakers</a>
                <p>0/5.000</p>
                <form>
        </section> -->

        <!-- <section>
            <div class="dropdown-menus-container">
        <div class="dropdown">
            <div class="select">
                <span class="selected">Time</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="filter-dropdown" id="1-hour">1 hour</li>
                <li class="filter-dropdown" id="2-5-hours">2/5 hours</li>
                <li class="filter-dropdown" id="1-day">1 day</li>
                <li class="filter-dropdown" id="1-5-days">1/5 days</li>
                <li class="filter-dropdown" id="5-days-more">5 days or more</li>
            </ul>
        </div>

        <div class="dropdown">
            <div class="select">
                <span class="selected">Time</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="filter-dropdown" id="1-hour">1 hour</li>
                <li class="filter-dropdown" id="2-5-hours">2/5 hours</li>
                <li class="filter-dropdown" id="1-day">1 day</li>
                <li class="filter-dropdown" id="1-5-days">1/5 days</li>
                <li class="filter-dropdown" id="5-days-more">5 days or more</li>
            </ul>
        </div>

        <div class="dropdown">
            <div class="select">
                <span class="selected">Time</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="filter-dropdown" id="1-hour">1 hour</li>
                <li class="filter-dropdown" id="2-5-hours">2/5 hours</li>
                <li class="filter-dropdown" id="1-day">1 day</li>
                <li class="filter-dropdown" id="1-5-days">1/5 days</li>
                <li class="filter-dropdown" id="5-days-more">5 days or more</li>
            </ul>
        </div>

        <div class="dropdown">
            <div class="select">
                <span class="selected">Time</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="filter-dropdown" id="1-hour">1 hour</li>
                <li class="filter-dropdown" id="2-5-hours">2/5 hours</li>
                <li class="filter-dropdown" id="1-day">1 day</li>
                <li class="filter-dropdown" id="1-5-days">1/5 days</li>
                <li class="filter-dropdown" id="5-days-more">5 days or more</li>
            </ul>
        </div> -->
        </div>


        <swiper-container class="mySwiper" keyboard="true" space-between="30" pagination="true" pagination-clickable="true"
        navigation="true">
        <swiper-slide>        <section>
            <h1>In which category are you looking for a professional?</h1>
            <button type="button" class="filter-btn" id="all">All</button>
            <button type="button" class="filter-btn" id="logo-design">Logo Design</button>
            <button type="button" class="filter-btn" id="illustration">Illustration</button>
            <button type="button" class="filter-btn" id="web-development">Web Development</button>
            <button type="button" class="filter-btn" id="graphic-design">Graphic Design</button>
            <button type="button" class="filter-btn" id="web-development">Game Art</button>
            <button type="button" class="filter-btn" id="web-development">Product & Design</button>
            <button type="button" class="filter-btn" id="web-development">App Design</button>
            <button type="button" class="filter-btn" id="web-development">Marketing</button>
            <button type="button" class="filter-btn" id="web-development">Website app</button>
            <button type="button" class="filter-btn" id="web-development">Product Design</button>
            <button type="button" class="filter-btn" id="web-development">Brand Style</button>
            <button type="button" class="filter-btn" id="web-development">UX Design</button>
            <button type="button" class="filter-btn" id="web-development">CSS</button>
            <button type="button" class="filter-btn" id="web-development">Video Editing</button>
            <button type="button" class="filter-btn" id="web-development">Data Entry</button>
            <button type="button" class="filter-btn" id="web-development">Background Removal</button>
            <button type="button" class="filter-btn" id="web-development">Adobe Apps</button>
            <button type="button" class="filter-btn" id="web-development">Figma</button>
            </section>  </swiper-slide>
        <swiper-slide>       <section>
            <h1>Provide some context for description
                of your request</h1>
                <form>
                <input type="text" name="textinput" placeholder="hello" id="">
                <button type="submit">Send</button>
                <a href="">Lisa Mandemakers</a>
                <p>0/5.000</p>
                <form>
        </section></swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
        <swiper-slide>Slide 4</swiper-slide>
        <swiper-slide>Slide 5</swiper-slide>
        <swiper-slide>Slide 6</swiper-slide>
        <swiper-slide>Slide 7</swiper-slide>
        <swiper-slide>Slide 8</swiper-slide>
        <swiper-slide>Slide 9</swiper-slide>
      </swiper-container>


    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="../static/scripts/script.js"></script>
</body>

</html>