<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/styles.css">
 
</head>
 
<body class="landing-page">
 
    <header>
    
    </header>
    
    <section class="preLoader">
        <h2>0</h2>
        <div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </section>
    <!-- <section>
        <h1 class="headTextLandingPage">Spark.</h1>
        <p>I am a <span class="typeWriter"></span></p>
    </section> -->
 
 
    <div class="word">
        <div class="letters">
            <div></div>
            <div>s</div>
            <div>p</div>
            <div>a</div>
        </div>
        <div class="letters">
            <div>r</div>
            <div>k</div>
            <div></div>
            <div></div>
        </div>
    </div>
 
    <div class="website-content">
        <div class="img-holder">
            <img src="img/requestimg8.jpg" alt="">
        </div>
 
        <div class="content-holder">
            <section class="section1">
                <h2>Explore Popular categories on spark</h2>
                <div class="category-container">
                <div class="category-btns">
                    <button class="filter-btn active-btn-categories"  data-name="all" >Logo Design</button>
                    <button class="filter-btn" data-name="website-development">Website Development</button>
                    <button class="filter-btn" data-name="social-media-marketing">Social Media Marketing</button>
                    <button class="filter-btn" data-name="illustration">Illustration</button>
                </div>
                <div class="category-items">
                </div>
            </div>
            </section>
 
            <section>
                <h2>So why Spark <span>?</span></h2>
                <div class="why-spark-items">
                    <div class="why-spark-item">
                        <img src="img/lineart3.png" alt="">
                        <h3>Seamless Connections</h3>
                        <p>Connect with fellow designers effortlessly through our intuitive app interface.</p>
                    </div>
                    <div class="why-spark-item">
                        <img src="img/lineart1.png" alt="">
                        <h3>Seamless Connections</h3>
                        <p>Connect with fellow designers effortlessly through our intuitive app interface.</p>
                    </div>
                    <div class="why-spark-item">
                        <img src="img/lineart2.png" alt="">
                        <h3>Seamless Connections</h3>
                        <p>Connect with fellow designers effortlessly through our intuitive app interface.</p>
                    </div>
                </div>
            </section>
 
 
 
        </div>
    </div>
 
 
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"
        integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="scripts/script.js"></script>
 
</body>
 
</html>