<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

 
</head>
 
<body class="landing-page">
 
    <header>
        <nav>
            <section>
                <a href="#section1">How does it work?</a>
            </section>
            <section>
                <a href="/sign-in">Sign In</a>
                <a href="/register">Sign Up</a>
            </section>
        </nav>
    </header>
    
    <section class="preLoader">
        <h2>0</h2>
        <div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </section>
    <!-- <section>
        <h1 class="headTextLandingPage">Spark.</h1>
        <p>I am a <span class="typeWriter"></span></p>
    </section> -->
 
 
    <div class="word">
        <div class="letters">
            <div></div>
            <div>s</div>
            <div>p</div>
            <div>a</div>
        </div>
        <div class="letters">
            <div>r</div>
            <div>k</div>
            <div></div>
            <div></div>
        </div>
    </div>
 
    <div class="website-content">
        <div class="img-holder">
            <img src="img/landingPage.jpeg" alt="">
        </div>
 
        <div class="content-holder">
 
            <section>
                <h2>So why Spark <span>?</span></h2>
                <div class="why-spark-items">
                    <div class="why-spark-item">
                        <img src="img/lineart3.png" alt="">
                        <h3>Seamless Connections</h3>
                        <p>Connect with fellow designers effortlessly through our intuitive app interface.</p>
                    </div>
                    <div class="why-spark-item">
                        <img src="img/lineart1.png" alt="">
                        <h3>Seamless Connections</h3>
                        <p>Connect with fellow designers effortlessly through our intuitive app interface.</p>
                    </div>
                    <div class="why-spark-item">
                        <img src="img/lineart2.png" alt="">
                        <h3>Seamless Connections</h3>
                        <p>Connect with fellow designers effortlessly through our intuitive app interface.</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="ladingPageFaqs">
            <div class="ladingPageFaqs_faq">
              <div>
                <img class="ladingPageFaqs_faq-title-icon" src="/assets/images/icon-star.svg" alt="">
                <h1 class="ladingPageFaqs_faq-title">FAQs</h1>
              </div>
              <div class="ladingPageFaqs_faq__main">
                <div class="ladingPageFaqs_faq__question">
                  <p class="ladingPageFaqs_faq__question-question">
                    Wat is SPARK?
                  </p>
                  <span class="ladingPageFaqs_faq__question-toggle"></span>
                </div>
                <p class="ladingPageFaqs_faq__answer">
                  SPARK is een innovatieve app die ontwerpers samenbrengt voor grensverleggende projecten en ongekende groeikansen.
                </p>
                <hr class="ladingPageFaqs_faq__divider">
              </div>
        
              <div class="ladingPageFaqs_faq__main">
                <div class="ladingPageFaqs_faq__question">
                  <p class="ladingPageFaqs_faq__question-question">
                    Voor wie is SPARK bedoeld?
                  </p>
                  <span class="ladingPageFaqs_faq__question-toggle"></span>
                </div>
                <p class="ladingPageFaqs_faq__answer">
                  SPARK is bedoeld voor ontwerpers van alle niveaus en disciplines, van ervaren professionals die op zoek zijn naar nieuwe uitdagingen tot beginnende ontwerpers die willen leren en groeien.
                </p>
                <hr class="ladingPageFaqs_faq__divider">
              </div>
        
              <div class="ladingPageFaqs_faq__main">
                <div class="ladingPageFaqs_faq__question">
                  <p class="ladingPageFaqs_faq__question-question">
                    Wat kan ik doen op SPARK?
                  </p>
                  <span class="ladingPageFaqs_faq__question-toggle"></span>
                </div>
                <p class="ladingPageFaqs_faq__answer">
                  Op SPARK kunnen gebruikers elkaar ondersteunen, inspireren en samenwerken aan prachtige kansen en projecten. Ze kunnen ook hun eigen portfolio gemakkelijk beheren en presenteren aan een groot publiek van potentiële samenwerkingspartners.
                </p>
                <hr class="ladingPageFaqs_faq__divider">
              </div>
        
              <div class="ladingPageFaqs_faq__main">
                <div class="ladingPageFaqs_faq__question">
                  <p class="ladingPageFaqs_faq__question-question">
                    Wat kan ik verwachten op de "Voor Jou" pagina van SPARK?
                  </p>
                  <span class="ladingPageFaqs_faq__question-toggle"></span>
                </div>
                <p class="ladingPageFaqs_faq__answer">
                  Op de "Voor Jou" pagina van SPARK ontdekken gebruikers een eindeloze stroom van inspiratie. Ze kunnen door boeiende portfolio-items van andere ontwerpers bladeren, nieuwe ideeën opdoen en trends ontdekken. Wellicht vinden ze zelfs een project dat perfect aansluit bij hun vaardigheden en interesses, of worden ze benaderd voor samenwerkingen.
                </p>
                <hr class="ladingPageFaqs_faq__divider">
              </div>
        
              <div class="ladingPageFaqs_faq__main">
                <div class="ladingPageFaqs_faq__question">
                  <p class="ladingPageFaqs_faq__question-question">
                    Hoe kan ik SPARK gebruiken om mijn profiel te delen en potentiële klanten te bereiken?
                  </p>
                  <span class="ladingPageFaqs_faq__question-toggle"></span>
                </div>
                <p class="ladingPageFaqs_faq__answer">
                  Met slechts één druk op de knop kunnen gebruikers hun profiel delen op andere kanalen om zo potentiële klanten te bereiken. SPARK biedt dus een dynamische en stimulerende omgeving waar creativiteit tot bloei komt en waar ontwerpers hun talent kunnen laten schitteren.
                </p>
                <hr class="ladingPageFaqs_faq__divider">
              </div>
        
            </div>
          </div>









        <div class="containerFormLandingPage">
            <div class="loopFormLandingPage">
                <span>
                    contact us / contact us / contact us / contact us / contact us / contact us / contact us / contact us
                    / contact us / contact us / contact us /
                </span>
            </div>
 
            <div>
                <div class="col">
                    <p>
                        Let's unlock our
                        spark together!
                        <br/>
                        Reach out.
                    </p>

                    <div class="item">
                        <h3>Social media </h3>
                        <span> TWITTER  |  INSTA  |  FACEBOOK </span>
                    </div>

                    <div>
                        <div class="item">
                            <h3> Get in touch</h3>
                            <span> HELLO@SPARK.COM</span>
                        </div>

                        <div class="item">
                            <h3>location</h3>
                            <span> AMSTERDAM, THE NETHERLANDS</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="row">
                            <input type="text" placeholder="First Name"/>

                            <input type="text" placeholder="Last Name"/>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Email"/>
                            <br/>
                            <input type="text" placeholder="Phone Number"/>
                        </div>
                        <div class="row">
                            <textarea 
                            name=" " 
                            id="message" 
                            placeholder="Message" 
                            cols="30" 
                            rows="5"
                            ></textarea>
                        </div>
                        <div>
                            <div class="row submit">
                                <a id="closeMatchFormButton" href="#">submit</a>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
    





    </div>




    </div>

    
    <!-- <script src="https://github.com/twbs/icons/blob/main/.github/preview.png)](https://icons.getbootstrap.com/)"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"
        integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="scripts/script.js"></script>
 
</body>
 
</html>