<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylesheets/styles.css">
</head>

<body class="landing-page">
    <div class="word">
        <div class="letters">
            <div></div>
            <div>s</div>
            <div>p</div>
            <div>a</div>
        </div>
        <div class="letters">
            <div>r</div>
            <div>k</div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="website-content">
    <div class="img-holder">
        <img src="../static/img/requestimg8.jpg" alt="">
    </div>

    <div class="content-holder">
        <h2>Welcome</h2>
        <img src="../static/img/requestimg18.jpeg" alt="">

        <div class="containertext">
            <div class="left-side">
                <h2>Vaste linkerhelft</h2>
                <p>Dit gedeelte van het scherm is vast en zal niet scrollen.</p>
            </div>
            <div class="right-side">
                <h2>Scrollbare rechterhelft</h2>
                <p>
                    Dit gedeelte van het scherm is scrollbaar. Voeg hier zoveel tekst toe als je wilt om te zien hoe het scrollen werkt.
                </p>
            </div>


    </div>
    </div>

    
   

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="../static/scripts/script.js"></script>
    
</body>

</html>