<nav class="navbar">
    <div class="navLeft">
        <a href="/discover" class="active">Discover</a>
        <a href="/find-requests">Jobs</a>
    </div>
    <div class="navCenter">
        <a href="#">Spark</a>
    </div>
    <div class="navRight">
        <a href="#" class="heart">
            <img src="img/heart.png">
        </a>
        <a href="#" class="lightning">
            <img src="img/lightning.png">
        </a>
        <a href="#" class="profile">
            <img src="img/profile.jpg">
        </a>
    </div>
</nav>