<header>
    <nav class="desktopOriginalNav">
        <div>
                <div>
                    <p id="discover_p" >Discover</p>
                    <p id="jobs_p">Jobs</p>
                </div>
                <svg id="underline_nav" height="2px" width="auto" xmlns="http://www.w3.org/2000/svg">
                <line x1="0" y1="0" x2="300" y2="0" style="stroke:rgb(236, 236, 236);stroke-width:2" />
                </svg>
             </div>
             
        <div>
            <p class="logo_span" id="sparkle-element">Spark</p>
        </div>
        <div>
            <img src="./icons/heart.png" alt="">
            <img src="./icons/bolt.png" alt="">
            <div>
                <img src="./icons/profile.png" alt="">
                <div>
                    <p>Michael Vos</p>
                    <p>Spark ID</p>
                </div>
            </div>
        </div>
    </nav>
</header>

<script src="/static/scripts/script.js"></script>