<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylesheets/styles.css">

</head>

<body id="hallo">

    <body data-barba="wrapper">
        <div class="transition"></div>
        <div class="wrapper">
            <div class="nav">
                <a href="/view/pageTransistion2.html" class="profile"> profile </a>
                <a href="/view/pageTransition.html" class="profile"> request </a>

            </div>
        </div>

    <main 
    data-barba="container"
    data-barba-namespace="home"
    class="container">
        <header>
            <h1>home</h1>
            <div class="header-revealing"></div>
        </header>
        <footer><h2>hallo</h2></footer>
    </main>
    </body>
</body>
    <script src="https://www.npmjs.com/package/@barba/core"></script>
    <script src="../static/scripts/script.js"></script>



</html>