<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulier</title>
    <link href="requests.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
</head>

<body class="requests">
    <main>
        <nav>

        </nav>

        <div>
            <h1>Jobs</h1>
            <!-- <div class="button-box">
                <div class="btn"></div>
                <button onclick="leftClick()"> Ask for help</button>
                <button class="rightbtn" onclick="rightClick()"> Offer help </button>
            </div> -->
        </div>

        <div class="filter-btns">
            <button class="filter-btn active-btn" data-name="all" class="filter-btn active-btn" >All</button>
            <button class="filter-btn" data-name="logo-design">Logo Design</button>
            <button class="filter-btn" data-name="illustration" >Illustration</button>
            <button class="filter-btn" data-name="css">CSS</button>
            <button class="filter-btn" data-name="web-development" >Web Development</button>
            <button class="filter-btn" data-name="graphic-design" >Graphic Design</button>
            <button class="filter-btn" data-name="web-development"  >Web Development</button>
            <button class="filter-btn" data-name="app-design">App Design</button>
            <button class="filter-btn" data-name="brand-style">Brand Style</button>
            <button class="filter-btn" data-name="ux-design">UX Design</button>
        </div>
<div class="dropdown-menus-container">
        <div class="dropdown">
            <div class="select">
                <span class="selected">Time</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="filter-dropdown" id="1-hour">1 hour</li>
                <li class="filter-dropdown" id="2-5-hours">2/5 hours</li>
                <li class="filter-dropdown" id="1-day">1 day</li>
                <li class="filter-dropdown" id="1-5-days">1/5 days</li>
                <li class="filter-dropdown" id="5-days-more">5 days or more</li>
            </ul>
        </div>

        <div class="dropdown">
            <div class="select">
                <span class="selected">Time</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="filter-dropdown" id="1-hour">1 hour</li>
                <li class="filter-dropdown" id="2-5-hours">2/5 hours</li>
                <li class="filter-dropdown" id="1-day">1 day</li>
                <li class="filter-dropdown" id="1-5-days">1/5 days</li>
                <li class="filter-dropdown" id="5-days-more">5 days or more</li>
            </ul>
        </div>

        <div class="dropdown">
            <div class="select">
                <span class="selected">Time</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="filter-dropdown" id="1-hour">1 hour</li>
                <li class="filter-dropdown" id="2-5-hours">2/5 hours</li>
                <li class="filter-dropdown" id="1-day">1 day</li>
                <li class="filter-dropdown" id="1-5-days">1/5 days</li>
                <li class="filter-dropdown" id="5-days-more">5 days or more</li>
            </ul>
        </div>

        <div class="dropdown">
            <div class="select">
                <span class="selected">Time</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="filter-dropdown" id="1-hour">1 hour</li>
                <li class="filter-dropdown" id="2-5-hours">2/5 hours</li>
                <li class="filter-dropdown" id="1-day">1 day</li>
                <li class="filter-dropdown" id="1-5-days">1/5 days</li>
                <li class="filter-dropdown" id="5-days-more">5 days or more</li>
            </ul>
        </div>
        </div>

        
        
       
<article class="all-requests">
    <!-- <section class="filter-item" data-name="logo-design">
        <div class="imglayout">
            <img src="imagesrequests/requestimg3.jpeg" alt="">
            <img src="imagesrequests/requestimg1.jpg" alt="">
            <img src="imagesrequests/requestimg6.jpg" alt="">
            <img src="imagesrequests/requestimg4.jpg" alt="">
            <img src="imagesrequests/requestimg5.jpg" alt="">
            <img src="imagesrequests/requestimg2.jpg" alt="">
        </div>
        <div >
            <h2>Company Logo</h2>
            <div class="scroll-text">
                <p>Our company is in its early stages, and we believe a distinctive and visually appealing logo is
                    crucial for establishing a strong brand identity. We are looking for someone who can bring a
                    fresh perspective to our vision and translate it into a unique and memorable logo that reflects
                    the essence of our startup. Looking forward to hearing from you and exploring the possibility of
                    working together.
                </p>
            </div>
            <p>3-5 days</p>
            <p>max. €780</p>
            <p>until 15/04/24</p>
            <p>Zaar Brouwer</p>
            <a href="">Match</a>
        </div>
    </section>

    <section class="filter-item" data-name="graphic-design">
        <div class="imglayout">
            <img src="imagesrequests/requestimg17.jpeg" alt="">
            <img src="imagesrequests/requestimg14.jpeg" alt="">
            <img src="imagesrequests/requestimg15.jpeg" alt="">
            <img src="imagesrequests/requestimg16.jpeg" alt="">
            <img src="imagesrequests/requestimg13.jpeg" alt="">
            <img src="imagesrequests/requestimg18.jpeg" alt="">
        </div>
        <div >
            <h2>Looking for a webdeveloper</h2>
            <div class="scroll-text">
                <p>Our company is in its early stages, and we believe a distinctive and visually appealing logo is
                    crucial for establishing a strong brand identity. We are looking for someone who can bring a
                    fresh perspective to our vision and translate it into a unique and memorable logo that reflects
                    the essence of our startup. Looking forward to hearing from you and exploring the possibility of
                    working together.
                </p>
            </div>
            <p>3-5 days</p>
            <p>max. €780</p>
            <p>until 15/04/24</p>
            <p>Zaar Brouwer</p>
            <a href="">Match</a>
        </div>
    </section>


    <section class="filter-item all illustration">
        <div class="imglayout">
            <img src="imagesrequests/requestimg8.jpg" alt="">
            <img src="imagesrequests/requestimg12.jpeg" alt="">
            <img src="imagesrequests/requestimg9.jpg" alt="">
            <img src="imagesrequests/requestimg10.jpg" alt="">
            <img src="imagesrequests/requestimg11.jpg" alt="">
            <img src="imagesrequests/requestimg12.jpeg" alt="">
        </div>
        <div>
            <h2>Liquid Illustrations</h2>
            <div class="scroll-text">
                <p>I have always believed in the power of visual identity, and I am eager to have a logo that
                    resonates with my personality and interests. This logo will serve as a representation of who I
                    am and what I stand for, and I believe your creative touch could bring my vision to life.
                </p>
            </div>
            <p>2/3 hours</p>
            <p>max. €200</p>
            <p>until 01/05/24</p>
            <p>Tygo Buursen</p>
            <a href="">Match</a>
            </div>
    </section> -->

</article>




    </main>
    <script src="script.js"></script>
</body>

</html>