<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulier</title>
    <link href="signup.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="container">
            <h2>Login</h2>
            <form class="form">
                <label for="username">Username:</label>
                <input name="username" type="text" id="username" required>

                <label for="password">Password:</label>
                <input name="password" type="password" id="password" required>

                <label for="e-mail"> E-mail</label>
                <input name="e-mail" type="email" id="e-mail"  placeholder="Typ hier uw e-mail" >

                <label for="Level"> level</label>
                <input name="level" type="number" id="level" placeholder="Level number">

                <button type="submit">Login</button>
            </form>
        </div>



    </main>
    <script src="account_aanmaken.js"></script>
</body>
</html>