<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="inloggen">

    <div></div>

    <article>

        <section>
            <h2>START YOUR JOURNEY</h2>
            <h1>Sign In to Spark</h1>
            <p>Don't have an account? <a href="/register">Sign up</a></p>
        </section>

        <section>
            <form action="/log-in" method="post">

                <label for="email">E-Mail</label>
        
                <input type="email" name="email" id="email"  placeholder="youremail@gmail.com" pattern="/^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$/" required>
               
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="********" required>

                <input type="submit" value="SIGN IN">
            </form>
        </section>
    </article>

    <script src="../static/scripts/script.js"></script>
</body>

</html>