<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/stylesheets/styles.css">
</head>

<body class="registreren">

    <div></div>

    <article>

        <section>
            <h1>Create New Account</h1>
            <p>Already have an account? <a href="/sign-in">Sign In.</a></p>
        </section>

        <section>
            <form action="/" method="post">
                <fieldset>
                    <label for="name">Name and surname</label>
                    <label for="username">Username</label>
                    <input type="text" name="name" id="name" placeholder="Your Name">
                    <input type="text" name="username" id="username" placeholder="Enter Username">
                </fieldset>
                <fieldset>
                    <label for="email">E-Mail</label>
                    <input type="email" name="email" id="email" placeholder="youremail@gmail.com">
                </fieldset>
                <fieldset>
                    <label for="password">Password</label>
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="password" id="password" placeholder="*********">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="*********">
                    <img src="../static/img/lock.svg" alt="">
                    <img src="../static/img/lock.svg" alt="">
                </fieldset>
                <fieldset>
                    <input type="submit" value="SIGN UP">
                </fieldset>
            </form>
        </section>



    </article>


</body>

</html>